@use '../../styles/breakpoints' as bp;

.about {
  background-color: #fff;
  color: var(--color-text-contrast);

  > div {
    display: flex;
    gap: 4rem;

    > * {
      width: 49%;
    }
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  > p {
    opacity: 0.8;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > span {
    font-size: 1.5rem;
    font-weight: 700;
  }

  > p {
    opacity: 0.8;
  }
}

@media only screen and (max-width: bp.$sm) {
  .about {
    > div {
      flex-direction: column;

      > * {
        width: 100%;
      }
    }
  }

  .mainInfo {
    align-items: center;
    text-align: center;
  }

  .items {
    display: flex;
    flex-direction: column;
  }

  .card {
    align-items: center;
    text-align: center;
  }
}
