---
import clsx from 'clsx'
import styles from './about.module.scss'

interface Item {
  title: string
  description: string
  icon: string
}

interface Props {
  item: Item
}

const { item = { title: '', description: '', icon: '' } } = Astro.props
---

<li class={clsx(styles.card, 'fade-in-bottom-hidden')}>
  <span>{item.title}</span>
  <p>{item.description}</p>
</li>
