---
import styles from './services.module.scss'
import type { ServiceCard } from '../../types/services.types'
import { Icon as AstroIcon } from 'astro-icon/components'
import clsx from 'clsx'

interface Props {
  card: ServiceCard
}

const { card } = Astro.props
---

<div class={clsx(styles.card, 'fade-in-left-hidden')}>
  <AstroIcon name={card.icon} />
  <h4>{card.title}</h4>
  <p>{card.description}</p>
</div>
