---
// import Navbar from '../components/navbar.astro'
import Navbar from '../components/navbar-react'
import { SETTINGS } from '../constants/settings.constants'
import '../styles/animations.scss'
import '../styles/global.scss'

const { pathname } = Astro.url
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.png'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Nuba Projects</title>
    <meta
      name='description'
      content='Especialistas en el dise침o y ejecuci칩n de proyectos multidisciplinarios con innovaci칩n y precisi칩n BIM.'
    />
    <!-- OPEN GRAPH TAGS -->
    <meta
      property='og:title'
      content='Nuba Projects'
    />
    <meta
      property='og:url'
      content='https://nuba.pro'
    />
    <meta
      property='og:image'
      content='https://nuba.pro/favicon.png'
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:site_name'
      content='Nuba Projects'
    />
  </head>

  <body>
    <div id='root'>
      <Navbar
        pathname={pathname}
        client:only
      />
      <slot />
    </div>

    <div id='modal'></div>
  </body>
</html>
