---
import Navbar from '../components/Navbar.astro'
import { SETTINGS } from '../constants/settings.constants'
import '../styles/animations.scss'
import '../styles/global.scss'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.png'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Nuba Projects</title>
    <meta
      name='description'
      content={`Somos una empresa especializada en el desarrollo integral de proyectos arquitectónicos e ingenieriles, con un enfoque multidisciplinario que une creatividad, precisión técnica y transformación digital a través de la metodología BIM. Nuestra visión es liderar la evolución del sector AEC (Arquitectura, Ingeniería y Construcción) en Latinoamérica, ofreciendo soluciones que integran diseño, tecnología y formación profesional.`}
    />
    <!-- OPEN GRAPH TAGS -->
    <meta
      property='og:title'
      content='Nuba Projects'
    />
    <meta
      property='og:url'
      content='https://nuba.pro'
    />
    <meta
      property='og:image'
      content='https://nuba.pro/favicon.png'
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:site_name'
      content='Nuba Projects'
    />
  </head>

  <body>
    <div id='root'>
      <slot />
      {!SETTINGS.MAINTENANCE_MODE && <Navbar />}
    </div>

    <div id='modal'></div>
  </body>
</html>
