---
import Layout from '../../layouts/Layout.astro'
import SectionLayout from '../../layouts/SectionLayout.astro'
import type { IProject } from '../../types/project.types'
import Card from './card'
import styles from './portfolio.module.scss'
---

<Layout>
  <SectionLayout title='My Portfolio'>
    <main class={styles.container}></main>
  </SectionLayout>
</Layout>
